
Project_6 - Car Price prediction/sample_submission.csv
Project_6 - Car Price prediction/submission_2_v16.csv
Project_6 - Car Price prediction/test.csv
Project_6 - Car Price prediction/exchange_rate.xlsx
Project_6 - Car Price prediction/all_auto_ru_09_09_2020.csv
